<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Проблема с оформлением заказа.</title>
</head>

<body>
<table cellpadding="0" cellspacing="0" width="60%">
<tr>
	<td align="left" valign="top">
        <b>Имя:</b>{$name|stripslashes|strip_tags}<br />
        <b>E-mail:</b>{$email|stripslashes|strip_tags}<br />
        <b>Сообщение:</b><br />{$message|stripslashes|strip_tags}
	</td>
</tr>
</table>
</body>
</html>
