.w100 {
    width: 100%;
}
.ac {
    text-align: center;
}
.ar {
    text-align: right;
}
.at {
    vertical-align: top;
}
* {
    font-family: sans-serif;
    font-size: 10pt;
    background-color: white;
}
body {
    width: 640px;
}
.small, .small * {
    font-size: 8pt;
}
h1 {
    font-size: 12pt;
    margin: 2em 0 1em 0;
    text-align: center;
}
table {
    border-collapse: collapse;
    empty-cells: show;
}
th, td {
    text-align: left;
    vertical-align: middle;
    padding: 3px 4px;
}
table.vis {
    border-left: 1pt solid black;
    border-top:1pt solid black;
}
table.vis td {
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
}
table.stamp td {
    font-weight: bold;
    font-style: italic;
}
