body, td, input, select, textarea { font:normal 11px/1.2em Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000; }

a {color:#000;}
a:hover {text-decoration:none;}

form { margin:0; padding:0; }
fieldset { padding:15px; margin:0; width:auto; border:1px solid #7A7A7A;}
legend {margin:0 0 10px 0; padding:0 5px;}
label { font-size : 10px;}

hr { height:1px; background-color:#7A7A7A; color:#7A7A7A; margin:0; padding:0; }
td.hrule {width:100%; background-image:url(../images/hrule.gif); background-repeat:repeat-x; height:5px;}

.top {background:#000000}
.top_name {color:#CC0000; letter-spacing:3px; font-size:16px;}

.icons  td { color:#FFF; }
.icons td a {color:#FFF; text-decoration:none;}
.icons td a:hover {text-decoration:underline;}

.grey_panel td {padding:7px; color:#42474A; font-weight:bold; font-size:10px;}
.grey_panel td  a { color:#42474A;text-decoration:none; }
.grey_panel td  a:hover {text-decoration:underline;}

.cont td {border:1px solid #A3A7AA; }

.sitemap td {border:1px solid #FFF;}
.sitemap .header {font-size:10px; padding:2px 0 3px 5px; }
.cont2 td {border:1px solid #FFF;}
.cont2 .header {font-size:10px; padding:2px 0 3px 5px; }

.text {padding:15px;}

.links {margin:20px 0;}
.links  a {display:block; text-decoration:none;color:#000; margin:0 0 3px 15px; letter-spacing:0px;}
.links a.level2 { margin:0 0 3px 25px}
.links a.level3 { margin:0 0 3px 35px}
.links a.level4 { margin:0 0 3px 45px}
.links a.level5 { margin:0 0 3px 55px}
.links a.level6 { margin:0 0 3px 65px}
.links a:hover {text-decoration:underline;}
.links a img {margin:0 3px;}

.inner {border:1px solid #A3A7AA; }
.inner td {border:1px solid #FFF;}
.inner .header {font-size:10px; padding:2px 0 3px 5px; }

inner_client{border:1px solid #5D5C59 ;}
.photofield {
	margin: 5px 0 5px 0;
}

.noborder td {border:none;}
.login {border:1px solid #A3A7AA;}
.login td {border:1px solid #FFF;}

.header {color:#4B4B4B; background:#D8DBE1; font-weight:bold;}

.login .header {font-size:12px; padding:2px 0 3px 5px; } 

.header0 {color:#4B4B4B; background:#FFFFFF; font-weight:none; font-size:12px; padding:2px 0 3px 5px; }
.header1 {color:#4B4B4B; background:#F1F1F1; font-weight:none; font-size:12px; padding:2px 0 3px 5px; }

.grey_10 {font-size:10px; color:#4B4B4B;}

/* START Input and others*/
textarea {border:1px solid #7A7A7A; overflow:auto; padding:5px;}
select { width:180px; border:1px solid #7A7A7A; }

textarea.inputwide {width:100%; height:150px;}

.input, .input150, .input300, .input80, .inputwide, .input120, .input60, .input250 { border:1px solid #7A7A7A; color:#7A7A7A}
.input     { width:180px; margin: 4px; }
.input150  { width:150px; }
.input250  { width:250px; }
.input300  { width:300px; }
.input80   { width:80px;  }
.input30  { width:30px;  }
.inputwide { width:100%;  }
.input120  { width:120px; }
.input60{ width: 70px;}

.filter { width: 140px}

.submit, .submit180, .submitwide {
  border:1px solid #7A7A7A; color: #7A7A7A; background:#F2F2F2; height:17px;
  font:bold 10px/13px Verdana, Geneva, Arial, Helvetica, sans-serif; height:17px;
  text-decoration:none; padding:0 10px; margin:0 2px;
}
.submit180  { width:180px; }
.submitwide, .wide { width:90%;  }

.submit:hover, .submit180:hover, .submitwide:hover { color:#000; }

.active { color: #555; }
.inactive { color: #bbb; }
/* END */

.bottom td {padding:5px; color:#FFF; font-weight:bold;}
.bottom td a {color:#FFF; text-decoration:none;}
.bottom td a:hover {text-decoration:underline;}

.lister {border:none;}
.lister td {padding-left:3px;padding-right:3px}
.lister .header {padding-left:3px;padding-right:3px}
.lister  a {text-decoration:none;color:#000;}
.lister a:hover {text-decoration:underline;}

table.list { border:none; }
table.list td { padding:0 5px; border: none;}
table.list th { color:#4B4B4B; background:#D8DBE1; font-weight:bold; font-size: 10px; border:none; }

table.list_client { border:none; }
table.list_client td { padding:0 5px; border: none}
table.list_client th { color:#D5C7B4; background:#FAEBD7; font-weight:bold; font-size: 10px; border:none; }

.error_header { color:#4B4B4B; background:#EFBAB6; font-weight:bold; padding: 3px; }
.error{ color: #CB0000; font-weight:bold; }
.messages_header { color:#4B4B4B; background:#00CC00; font-weight:bold; padding: 3px; }
.messages{ color: #006600; font-weight:bold; }

a.options { color: #000099; text-decoration:none; }
a.options:hover { text-decoration:underline; }

/* Help Title */
h1 { display:block; padding:7px 15px; margin:0.5em 0; color:#42474A;
	font-weight:bold; font-size:11px; text-align:left; }
h2 { margin:0; padding:0.3em 0; font-size:11px;}
a.help { color:#000099; text-decoration:underline; }
h2.help { color:#000099; }
p { margin:0.5em 0; padding:0;}
li { margin:0.5em; }


/* Cool Table For Data */
table.table { border-collapse:collapse; }
table.table td, table.table th { border:1px solid #ccc; padding:3px 5px;  }
table.table th { text-align:left; color:#4B4B4B; font-weight:bold; }
table.table thead th, table.table tfoot th { font-size:10px; }
table.table thead th { background:#D8DBE1; }
table.table tfoot th { background:#EEEFF2; }

.r_form{ text-align:left; padding:5px 0 10px 5px; vertical-align:top;}


.inp { 
	font:normal 11px/1.2em Verdana, Geneva, Arial, Helvetica, sans-serif;
	border:1px solid #7A7A7A;
	width:100px;
}
.inp2 { 
	font:normal 11px/1.2em Verdana, Geneva, Arial, Helvetica, sans-serif;
	border:1px solid #b2b2b2;
	width:250px;
}

/********************************************************************/
/************************* MENU CSS START ***************************/
/********************************************************************/
div#topmenu {
	background: #48484c;
	height: 27px;
}

#mtm_menu {
	padding-left: 27px;
}
#mtm_menu a {
	display: block;
	float: left;
	line-height: 27px;
	padding: 0px 11px;
	text-decoration:none;
	font-size: 11px;
	color: white;
}
    
#mtm_menu a.hover, #mtm_menu a:hover {
    background:#5d5d62;
}
    
table.items tr.item td {
	color: #d1d1d7;
	padding: 0 20px;
	line-height: 22px;
}

/* this is the class that is used when the mouse is over an item. script sets the row to this class when required. */
table.items tr.item.hover td {
	color: white;
	background: GRAY;
}

/*---------------------------------------------------------*/


/* this is the clipping region for the menu. it's width and height get set by script, depending on the size of the items table */
.transMenu {
	position:absolute;
	overflow:hidden;
	left:-1000px;
	top:-1000px;
}

/* this is the main container for the menu itself. it's width and height get set by script, depending on the size of the items table */
.transMenu .content {
	position:absolute;
}

/* this table comprises all menu items. each TR is one item. It is relatively positioned so that the shadow and background transparent divs can be positioned underneath it */
.transMenu .items {
	position:relative;
	left:0px; top:0px;
	z-index:2;
}

.transMenu.top .items {
	border-top:none;
}

/* each TR.item is one menu item */
.transMenu .item {
    color:#fff;
    font-size:10px;
    font-family:sans-serif;
    text-decoration:none;
	/* this is a hack for mac/ie5, whom incorrectly cascades the border properties of the parent table to each row */
	border:none;
	cursor:pointer;
	cursor:hand;
}

/* this DIV is the semi-transparent white background of each menu. the -moz-opacity is a proprietary way to get transparency in mozilla, the filter is for IE/windows 5.0+. */
/* we set the background color in script because ie mac does not use it; that browser only uses a semi-transparent white PNG that the spacer gif inside this DIV is replaced by */
.transMenu .background {
	position:absolute;
	left:0px; top:0px;
	z-index:1;
	background: black;
	-moz-opacity:.8;
	filter:alpha(opacity=80);
}

/* same concept as .background, but this is the sliver of shadow on the right of the menu. It's left, height, and background are set by script. In IE5/mac, it uses a PNG */
.transMenu .shadowRight {
	display: none;
	visibility: hidden;
}

/* same concept as .background, but this is the sliver of shadow on the bottom of the menu. It's top, width, and background are set by script. In IE5/mac, it uses a PNG */
.transMenu .shadowBottom {
	display: none;
	visibility: hidden;
}

/* this is either the dingbat that indicates there is a submenu, or a spacer gif in it's place. We give it extra margin to create some space between the text and the dingbat */
.transMenu .item img {
	position: absolute;
	margin: 0;
	width: 1px;
	visibility: hidden;
}
/********************************************************************/
/************************* MENU CSS END *****************************/
/********************************************************************/


.user {
    color: #404040;
    width: 100%;
    margin-bottom: 20px;
}

.user td.red {
    color: white;
    background:#EB86A3;
    padding: 10px 0px 10px 20px;
    border:0px;
}

.user td.gray {
    color: #4B4B4B;
    background:#D8DBE1;
    padding: 10px 0px 10px 20px;
    border:0px;
}

.user td.gray2 {
    color: #4B4B4B;
    background:#D8DBE1;
    padding: 10px 0px 10px 0px;
    border:0px;
}

.user tr.gr td {
    /*background:#F0EEEE;*/
    padding: 0px 0px 0px 20px;
    border:0px;
}