.dealsCities{
    height: 200px;
    width: 100%;
    background: url('/images/foot-light.jpg') repeat;
    display: none;
    border-bottom: 2px solid #8ea1a6;
    /*margin-left: -20px;*/
    /*margin-right: -20px;*/
}

.forPaymants {border: 5px solid #F1F5F8;
    /* width: 80px; */
    padding: 20px;
     height: 60px;
    display: inline-block;
    border-radius: 9px;
    box-shadow: inset 0px 0px 22px #666;}
.paymentList    {display: inline-block;margin: 10px;}

.paymentList > button    {display: block;
    background: #8FCF79;
    border: 0;
    box-shadow: 0px 2px 1px #666;
    border-radius: 8px;
    padding: 6px 25px;
    font-size: 17px;
    font-weight: bold;
    color: #F6F6F6;
    text-align: center;
    margin: 0 auto;}

.paymentList > .paymentBtnPress    {background: #3D971E;box-shadow: inset 0px 2px 2px #666;}
.paymentList > .paymentBtnPress:focus  {outline: 0;}
