<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$settings.new_password_mail|stripslashes|strip_tags}</title>
</head>

<body>
<table cellpadding="0" cellspacing="0" width="60%">
<tr>
	<td align="left" width="100" nowrap="nowrap"><b>{$settings.new_password_mail|stripslashes|strip_tags}: </b>{$new_password}</td>
</tr>
</table>
</body>
</html>
