{include file='area/extras/menu_level_one.tpl'}
<div class="high_school_bg">
              <div class="tools_full_lt">
               	<div class="tools_tit tt">High School</div>
                	<table cellpadding="0" cellspacing="0">
                    	<tr>
                        	<td style="width:122px; vertical-align:middle;"><strong>Full Name:</strong></td>
                        	<td><input type="text" style="width:187px; padding:2px 3px; margin:0 0 4px 0;" class="input" /></td>
                        </tr>
                    	<tr>
                        	<td style="width:122px; vertical-align:middle;"><strong>New Password:</strong></td>
                        	<td><input type="text" style="width:187px; padding:2px 3px; margin:0 0 4px 0;" class="input" /></td>
                        </tr>
                    	<tr>
                        	<td style="width:122px; vertical-align:middle;"><strong>Confirm Password:</strong></td>
                        	<td><input type="text" style="width:187px; padding:2px 3px; margin:0 0 4px 0;" class="input" /></td>
                        </tr>
                    	<tr>
                        	<td style="width:122px; vertical-align:middle;"><strong>Email:</strong></td>
                        	<td><p>SaZX85@gmail.com</p></td>
                        </tr>
                    	<tr>
                        	<td style="width:122px; vertical-align:middle;"><strong>Birth Date:</strong></td>
                        	<td>
                            	<select name="month" style="width:77px; color:#6d6d6d; font-size:11px;">
                             <option>Month</option>
                             <option>January</option>
                             <option>February</option>
                             <option>Mart</option>
                             <option>April</option>
                             <option>May</option>
                             <option>June</option>
                             <option>July</option>
                             <option>August</option>
                             <option>September</option>
                             <option>October</option>
                             <option>November</option>
                             <option>December</option>
                           </select>
                           <select name="day" style="width:58px; color:#6d6d6d;  font-size:11px; margin:0 0 0 -3px;">
                           		<option>Day</option>	
                           		<option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                           </select>                           
                           <select name="year" style="width:60px; color:#6d6d6d;font-size:11px;margin:0 0 0 -3px;">
                           		<option>Year</option>
                                <option>1950</option><option>
                                1951</option><option>
                                1952</option><option>
                                1953</option><option>
                                1954</option><option>
                                1955</option><option>
                                1956</option><option>
                                1957</option><option>
                                1958</option><option>
                                1959</option><option>
                                1960</option><option>
                                1961</option><option>
                                1962</option><option>
                                1963</option><option>
                                1964</option><option>
                                1965</option><option>
                                1966</option><option>
                                1967</option><option>
                                1968</option><option>
                                1969</option><option>
                                1970</option><option>
                                1971</option><option>
                                1972</option><option>
                                1973</option><option>
                                1974</option><option>
                                1975</option><option>
                                1976</option><option>
                                1977</option><option>
                                1978</option><option>
                                1979</option><option>
                                1980</option><option>
                                1981</option><option>
                                1982</option><option>
                                1983</option><option>
                                1984</option><option>
                                1985</option><option>
                                1986</option><option>
                                1987</option><option>
                                1988</option><option>
                                1989</option><option>
                                1990</option><option>
                                1991</option><option>
                                1992</option><option>
                                1993</option><option>
                                1994</option><option>
                                1995</option><option>
                                1996</option><option>
                                1997</option><option>
                                1998</option><option>
                                1999</option>
                           </select>
                            </td>
                        </tr>
                    </table>
                      <p style="color:#455fff; font-weight:bold; padding:13px 0 7px 0;">Location</p>
                      <table cellpadding="0" cellspacing="0">
                      	<tr>
                        	<td style="width:73px; vertical-align:middle;"><strong>Country:</strong></td>
                            <td>
                            	<select name="year" style="width:238px; color:#6d6d6d;font-size:11px; margin:0 0 4px 0;">
                           			<option>Choose Country</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                        	<td style="width:73px; vertical-align:middle;"><strong>State:</strong></td>
                            <td>
                            	<select name="year" style="width:238px; color:#6d6d6d;font-size:11px; margin:0 0 4px 0;">
                           			<option>Choose State</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                        	<td style="width:73px; vertical-align:middle;"><strong>City:</strong></td>
                            <td>
                            	<select name="year" style="width:238px; color:#6d6d6d;font-size:11px; margin:0 0 4px 0;">
                           			<option>Choose City</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                        	<td colspan="2" style="padding:5px 0 0px 0;"><input type="button" value="Submit" style="background:#E3E3E3; color:#6D6D6D; font-weight:bold; width:auto; font-size:11px; border:1px solid #C2C2C2; padding:0 3px; float:right; cursor:pointer;" /></td>
                        </tr>
                      </table>
              </div>
                <div class="tools_full_rt">
                    <div class="tools_tit tt">Profile Image</div> 
                    <table cellpadding="0" cellspacing="0">
						<tr>
                        	<td style="border:1px solid #d1d1d2;"><img src="images/no_image.gif" alt="" /></td>
                        	<td style="padding:0 0 0 14px;">
                            	<input type="text" style="width:160px; padding:2px 3px; margin:0 0 4px 0;" class="input" />
                                <input type="button" value="Browse" style="background:#E3E3E3; color:#6D6D6D; font-weight:bold; width:auto; font-size:11px; border:1px solid #C2C2C2; padding:0 3px; margin:0 0 14px 0; float:right; cursor:pointer;" />
                                <p style="clear:both;">Browse your new default photo or replace current one</p>
                            </td>
                        </tr>
                        <tr>
                        	<td colspan="2"><input type="button" value="Upload" style="background:#E3E3E3; color:#6D6D6D; font-weight:bold; width:auto; font-size:11px; border:1px solid #C2C2C2; padding:0 3px; margin:101px 0 0px 0; float:right; cursor:pointer;" /></td>
                        </tr>                        
                    </table>       	
                </div>
                <div class="clear"></div>
                <div class="tools_full_lt">
                	<div class="tools_tit tt">Contact Information</div>
                    <table cellpadding="0" cellspacing="0">
                    	<tr>
                        	<td class="prt"><strong>AIM:</strong></td>
                        	<td><input type="text" style="width:230px; padding:2px 3px; margin:0 0 4px 0;" class="input" /></td>
                        </tr>
                    	<tr>
                        	<td class="prt"><strong>GMAIL:</strong></td>
                        	<td><input type="text" style="width:230px; padding:2px 3px; margin:0 0 4px 0;" class="input" /></td>
                        </tr>
                    	<tr>
                        	<td class="prt"><strong>MSN:</strong></td>
                        	<td><input type="text" style="width:230px; padding:2px 3px; margin:0 0 4px 0;" class="input" /></td>
                        </tr>
                    	<tr>
                        	<td class="prt"><strong>Skype:</strong></td>
                        	<td><input type="text" style="width:230px; padding:2px 3px; margin:0 0 4px 0;" class="input" /></td>
                        </tr>
                    	<tr>
                        	<td class="prt"><strong>Yahoo:</strong></td>
                        	<td><input type="text" style="width:230px; padding:2px 3px; margin:0 0 4px 0;" class="input" /></td>
                        </tr>
                    	<tr>
                        	<td class="prt"><strong>Phone:</strong></td>
                        	<td style="vertical-align:middle;">
                            	<input type="text" style="width:54px; padding:2px 3px; margin:0 0 4px 0;" class="input" /> - <input type="text" style="width:54px; padding:2px 3px; margin:0 0 4px 0;" class="input" /> - <input type="text" style="width:86px; padding:2px 3px; margin:0 0 4px 0;" class="input" />
                            </td>
                        </tr>
                    	<tr>
                        	<td class="prt"><strong>Cell:</strong></td>
                        	<td>
                            	<input type="text" style="width:54px; padding:2px 3px; margin:0 0 4px 0;" class="input" /> - <input type="text" style="width:54px; padding:2px 3px; margin:0 0 4px 0;" class="input" /> - <input type="text" style="width:86px; padding:2px 3px; margin:0 0 4px 0;" class="input" />
                            </td>
                        </tr>
                        <tr>
                        	<td colspan="2" style="padding:12px 0 0px 0;"><input type="button" value="Submit" style="background:#E3E3E3; color:#6D6D6D; font-weight:bold; width:auto; font-size:11px; border:1px solid #C2C2C2; padding:0 3px; float:right; cursor:pointer;" /></td>
                        </tr>
                    </table>
                </div>
                <div class="tools_full_rt">
                	<div class="tools_tit tt">Additional Information</div>
                    <table cellpadding="0" cellspacing="0">
                    	<tr>
                        	<td style="width:89px;"><strong>Hobbies:</strong></td>
                        	<td>
                            	<select multiple="multiple" style="height:70px; width:221px;  margin:0 0 4px 0; border:1px solid #DDDDDD;">
                                	<option>Sports</option>
                                    <option>Training</option>
                                    <option>Parties</option>
                                    <option>Books</option>
                                </select>                            </td>
                        </tr>
                        <tr>
                        	<td style="vertical-align:middle;"><strong>Favorite Quote:</strong></td>
                        	<td><input type="text" style="width:213px; padding:2px 3px; margin:0 0 4px 0;" class="input" /></td>
                        </tr>
                        <tr>
                        	<td><strong>My Interests:</strong></td>
                        	<td><textarea type="text" style="width:213px; padding:2px 3px; margin:0 0 4px 0; height:57px; overflow:auto;" class="input" rows="" cols=""></textarea></td>
                        </tr>
                        <tr>
                        	<td colspan="2">
                            	<table cellpadding="0" cellspacing="0">
                                	<tr>
                                    	<td style="width:127px; vertical-align:middle;"><strong>Favorite Radio Station:</strong></td>
                                        <td>
                                        	<select name="year" style="width:183px; color:#6d6d6d;font-size:11px; margin:0 0 4px 0;">
                                                <option>Choose Radio</option>
                                            </select>                                		</td>
                                    </tr>
                                </table>                            </td>
                        </tr>
                        <tr>
                        	<td><strong>About Me:</strong></td>
                        	<td><textarea name="textarea" cols="" rows="" class="input" style="width:213px; padding:2px 3px; margin:0 0 4px 0; height:57px; overflow:auto;" type="text"></textarea></td>
                        </tr>
                        <tr>
                        	<td colspan="2" style="padding:12px 0 0px 0;"><input type="button" value="Submit" style="background:#E3E3E3; color:#6D6D6D; font-weight:bold; width:auto; font-size:11px; border:1px solid #C2C2C2; padding:0 3px; float:right; cursor:pointer;" /></td>
                        </tr>
                    </table>
              </div>
                <div class="clear"></div>
            </div>