    </div>
    <!-- END PAGE -->

</div>
<!-- END CONTAINER -->

<div class="footer">
    <div class="footer-inner">
        2014 &copy; SoftScript
    </div>
    <div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
    </div>
</div>
<!-- start for modal box layout -->
<div class="modal-backdrop" style="display: none;"></div>
<!-- end for modal box layout -->

</body>
</html>