<div id="preloader" style="left:60px; top:220px; background-color:#FFFFFF; width:250px; height:35px; border:2px solid #999999; position:absolute; padding: 10px 0 10px 0; display:none;">
    <div align="center"><img src="images/progress.gif" width="190" height="14" alt="Loading..." /> 
        <div style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#006699">
            <strong>Loading data...</strong>
        </div>
    </div>
</div>
<div id="message_box" style="left:20px; color:#000000; top:220px; background:#ffffff; width:340px; position:absolute; display:none; border:1px solid #F66653; background:#EC0900;">
	<div style="width:100%; height:20px; background:#D1D4DA;  position:relative; ">
		<table width="100%" height="100%">
		<tr>
			<td style="font-weight:bold; padding:3px 3px 3px 3px; font-size:12px;" align="left" valign="middle">The Message Box</td>
		</tr>
		</table>
	</div>
	<div align="left" id="message_text" style="height:30px; text-decoration:none; padding:5px 3px 3px 3px; background:#ffffff;  position:relative; ">
	</div>
</div>