<div class="dashboard_menu1">
<div><a href="/area/profile/experienceEducation" title="Experience/Education">Experience/Education</a><a href="/users/{$userData->username}" title="View Profile">View Profile</a></div>
</div>