<div class="centercol">
	<div class="title">
		<div class="title-left"><!--  --></div>
		<h2><p style="font-family:Verdana; padding-top:3px; font-size:24px; font-weight:normal; color:#ffffff;">Order Status</p></h2>
		<div class="title-right"></div>
	</div>
	
	<div class="content laf">
		<br />
		<p>{$getintouch_text.text|stripslashes}</p>
		
		<div class="find-pet" style="padding-top:10px;">

			<div class="block-bg w550">
				<div class="fp-top">
					<div class="fp-topr"><!--   --></div>
					<div class="fp-topl"><!--   --></div>
					<div class="fp-topbg"><!--   --></div>
				</div>
				<div class="fp-txt" style="padding:0px 0px 0px 0px;">
					<table cellpadding="0" cellspacing="0" border="0" width="530">
					<tr>
						<td width="130" align="right">ORDER #23445986</td>
						<td width="180" style="padding:0px 5px 0px 5px;" align="center">----------------------------</td>
						<td align="center"><img src="/images/passive.png" title="completed" />  Canceled </td>
						<td align="center" width="10"> | </td>
						<td align="center" width="70"><a href="#" />View Order</a></td>
					</tr>
					</table>
				</div>		
				<div class="fp-bot">
					<div class="fp-botr"><!--   --></div>
					<div class="fp-botl"><!--   --></div>
					<div class="fp-botbg"><!--   --></div>
				</div>
			</div>
			
			<div class="block-bg w550">
				<div class="fp-top">
					<div class="fp-topr"><!--   --></div>
					<div class="fp-topl"><!--   --></div>
					<div class="fp-topbg"><!--   --></div>
				</div>
				<div class="fp-txt" style="padding:0px 0px 0px 0px;">
					<table cellpadding="0" cellspacing="0" border="0" width="530">
					<tr>
						<td width="130" align="right">ORDER #23445986</td>
						<td width="180" style="padding:0px 5px 0px 5px;" align="center">----------------------------</td>
						<td align="center"><img src="/images/active.png" title="completed" /> Completed</td>
						<td align="center" width="10"> | </td>
						<td align="center" width="70"><a href="#" />View Order</a></td>
					</tr>
					</table>
				</div>		
				<div class="fp-bot">
					<div class="fp-botr"><!--   --></div>
					<div class="fp-botl"><!--   --></div>
					<div class="fp-botbg"><!--   --></div>
				</div>
			</div>
			
			<div class="block-bg w550">
				<div class="fp-top">
					<div class="fp-topr"><!--   --></div>
					<div class="fp-topl"><!--   --></div>
					<div class="fp-topbg"><!--   --></div>
				</div>
				<div class="fp-txt" style="padding:0px 0px 0px 0px;">
					<table cellpadding="0" cellspacing="0" border="0" width="530">
					<tr>
						<td width="130" align="right">ORDER #23445986</td>
						<td width="180" style="padding:0px 5px 0px 5px;" align="center">----------------------------</td>
						<td align="center"><img src="/images/active.png" title="completed" /> Completed</td>
						<td align="center" width="10"> | </td>
						<td align="center" width="70"><a href="#" />View Order</a></td>
					</tr>
					</table>
				</div>		
				<div class="fp-bot">
					<div class="fp-botr"><!--   --></div>
					<div class="fp-botl"><!--   --></div>
					<div class="fp-botbg"><!--   --></div>
				</div>
			</div>
			
			<div class="block-bg w550">
				<div class="fp-top">
					<div class="fp-topr"><!--   --></div>
					<div class="fp-topl"><!--   --></div>
					<div class="fp-topbg"><!--   --></div>
				</div>
				<div class="fp-txt" style="padding:0px 0px 0px 0px;">
					<table cellpadding="0" cellspacing="0" border="0" width="530">
					<tr>
						<td width="130" align="right">ORDER #23445986</td>
						<td width="180" style="padding:0px 5px 0px 5px;" align="center">----------------------------</td>
						<td align="center"><img src="/images/active.png" title="completed" /> Completed</td>
						<td align="center" width="10"> | </td>
						<td align="center" width="70"><a href="#" />View Order</a></td>
					</tr>
					</table>
				</div>		
				<div class="fp-bot">
					<div class="fp-botr"><!--   --></div>
					<div class="fp-botl"><!--   --></div>
					<div class="fp-botbg"><!--   --></div>
				</div>
			</div>
			
			<div class="block-bg w550">
				<div class="fp-top">
					<div class="fp-topr"><!--   --></div>
					<div class="fp-topl"><!--   --></div>
					<div class="fp-topbg"><!--   --></div>
				</div>
				<div class="fp-txt" style="padding:0px 0px 0px 0px;">
					<table cellpadding="0" cellspacing="0" border="0" width="530">
					<tr>
						<td width="130" align="right">ORDER #23445986</td>
						<td width="180" style="padding:0px 5px 0px 5px;" align="center">----------------------------</td>
						<td align="center"><img src="/images/active.png" title="completed" /> Completed</td>
						<td align="center" width="10"> | </td>
						<td align="center" width="70"><a href="#" />View Order</a></td>
					</tr>
					</table>
				</div>		
				<div class="fp-bot">
					<div class="fp-botr"><!--   --></div>
					<div class="fp-botl"><!--   --></div>
					<div class="fp-botbg"><!--   --></div>
				</div>
			</div>
			
			<div class="block-bg w550">
				<div class="fp-top">
					<div class="fp-topr"><!--   --></div>
					<div class="fp-topl"><!--   --></div>
					<div class="fp-topbg"><!--   --></div>
				</div>
				<div class="fp-txt" style="padding:0px 0px 0px 0px;">
					<table cellpadding="0" cellspacing="0" border="0" width="530">
					<tr>
						<td width="130" align="right">ORDER #23445986</td>
						<td width="180" style="padding:0px 5px 0px 5px;" align="center">----------------------------</td>
						<td align="center"><img src="/images/active.png" title="completed" /> Completed</td>
						<td align="center" width="10"> | </td>
						<td align="center" width="70"><a href="#" />View Order</a></td>
					</tr>
					</table>
				</div>		
				<div class="fp-bot">
					<div class="fp-botr"><!--   --></div>
					<div class="fp-botl"><!--   --></div>
					<div class="fp-botbg"><!--   --></div>
				</div>
			</div>
			
			<div class="block-bg w550">
				<div class="fp-top">
					<div class="fp-topr"><!--   --></div>
					<div class="fp-topl"><!--   --></div>
					<div class="fp-topbg"><!--   --></div>
				</div>
				<div class="fp-txt" style="padding:0px 0px 0px 0px;">
					<table cellpadding="0" cellspacing="0" border="0" width="530">
					<tr>
						<td width="130" align="right">ORDER #23445986</td>
						<td width="180" style="padding:0px 5px 0px 5px;" align="center">----------------------------</td>
						<td align="center">In the proccess</td>
						<td align="center" width="10"> | </td>
						<td align="center" width="70"><a href="#" />View Order</a></td>
					</tr>
					</table>
				</div>		
				<div class="fp-bot">
					<div class="fp-botr"><!--   --></div>
					<div class="fp-botl"><!--   --></div>
					<div class="fp-botbg"><!--   --></div>
				</div>
			</div>
			
			<div class="block-bg w550">
				<div class="fp-top">
					<div class="fp-topr"><!--   --></div>
					<div class="fp-topl"><!--   --></div>
					<div class="fp-topbg"><!--   --></div>
				</div>
				<div class="fp-txt" style="padding:0px 0px 0px 0px;">
					<table cellpadding="0" cellspacing="0" border="0" width="530">
					<tr>
						<td width="130" align="right">ORDER #23445986</td>
						<td width="180" style="padding:0px 5px 0px 5px;" align="center">----------------------------</td>
						<td align="center">In the proccess</td>
						<td align="center" width="10"> | </td>
						<td align="center" width="70"><a href="#" />View Order</a></td>
					</tr>
					</table>
				</div>		
				<div class="fp-bot">
					<div class="fp-botr"><!--   --></div>
					<div class="fp-botl"><!--   --></div>
					<div class="fp-botbg"><!--   --></div>
				</div>
			</div>
			
			<div class="block-bg w550">
				<div class="fp-top">
					<div class="fp-topr"><!--   --></div>
					<div class="fp-topl"><!--   --></div>
					<div class="fp-topbg"><!--   --></div>
				</div>
				<div class="fp-txt" style="padding:0px 0px 0px 0px;">
					<table cellpadding="0" cellspacing="0" border="0" width="530">
					<tr>
						<td width="130" align="right">ORDER #23445986</td>
						<td width="180" style="padding:0px 5px 0px 5px;" align="center">----------------------------</td>
						<td align="center">In the proccess</td>
						<td align="center" width="10"> | </td>
						<td align="center" width="70"><a href="#" />View Order</a></td>
					</tr>
					</table>
				</div>		
				<div class="fp-bot">
					<div class="fp-botr"><!--   --></div>
					<div class="fp-botl"><!--   --></div>
					<div class="fp-botbg"><!--   --></div>
				</div>
			</div>
			
			<div class="block-bg w550">
				<div class="fp-top">
					<div class="fp-topr"><!--   --></div>
					<div class="fp-topl"><!--   --></div>
					<div class="fp-topbg"><!--   --></div>
				</div>
				<div class="fp-txt" style="padding:0px 0px 0px 0px;">
					<table cellpadding="0" cellspacing="0" border="0" width="530">
					<tr>
						<td width="130" align="right">ORDER #23445986</td>
						<td width="180" style="padding:0px 5px 0px 5px;" align="center">----------------------------</td>
						<td align="center">In the proccess</td>
						<td align="center" width="10"> | </td>
						<td align="center" width="70"><a href="#" />View Order</a></td>
					</tr>
					</table>
				</div>		
				<div class="fp-bot">
					<div class="fp-botr"><!--   --></div>
					<div class="fp-botl"><!--   --></div>
					<div class="fp-botbg"><!--   --></div>
				</div>
			</div>
			
			
		</div>
	</div>
	<div class="content-bottom"><!--  --></div>
</div>
