<div class="staticPageBox">
    <div class="pageTitle">Оформление заказа</div>
    <div class="pageText">
        {*{$content.title|stripslashes|strip_tags}*}
        {$content.text|stripslashes}
    </div>
</div>