/* ========== */
/* = Font Icons = */
/* ========== */


/* zocial */

@font-face {
  font-family: 'zocial';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('../../assets/zocial/css/zocial-regular-webfont.eot');
  src: url('../../assets/zocial/css/zocial-regular-webfont.eot?#iefix') format('eot'), 
  url('../../assets/zocial/css/zocial-regular-webfont.woff') format('woff'), 
  url('../../assets/zocial/css/zocial-regular-webfont.ttf') format('truetype'), 
  url('../../assets/zocial/css/zocial-regular-webfont.svg#zocialregular') format('svg');
}
.zocial-acrobat:before{content:"\00E3"}.zocial-amazon:before{content:"a"}.zocial-android:before{content:"&"}.zocial-angellist:before{content:"\00D6"}.zocial-aol:before{content:"\""}.zocial-appnet:before{content:"\00E1"}.zocial-appstore:before{content:"A"}.zocial-bitbucket:before{content:"\00E9"}.zocial-bitcoin:before{content:"2"}.zocial-blogger:before{content:"B"}.zocial-buffer:before{content:"\00E5"}.zocial-call:before{content:"7"}.zocial-cal:before{content:"."}.zocial-cart:before{content:"\00C9"}.zocial-chrome:before{content:"["}.zocial-cloudapp:before{content:"c"}.zocial-creativecommons:before{content:"C"}.zocial-delicious:before{content:"#"}.zocial-digg:before{content:";"}.zocial-disqus:before{content:"Q"}.zocial-dribbble:before{content:"D"}.zocial-dropbox:before{content:"d"}.zocial-drupal:before{content:"\00E4"}.zocial-dwolla:before{content:"\00E0"}.zocial-email:before{content:"]"}.zocial-eventasaurus:before{content:"v"}.zocial-eventbrite:before{content:"|"}.zocial-eventful:before{content:"'"}.zocial-evernote:before{content:"E"}.zocial-facebook:before{content:"f"}.zocial-fivehundredpx:before{content:"0"}.zocial-flattr:before{content:"%"}.zocial-flickr:before{content:"F"}.zocial-forrst:before{content:":"}.zocial-foursquare:before{content:"4"}.zocial-github:before{content:"g"}.zocial-gmail:before{content:"m"}.zocial-google:before{content:"G"}.zocial-googleplay:before{content:"h"}.zocial-googleplus:before{content:"+"}.zocial-gowalla:before{content:"@"}.zocial-grooveshark:before{content:"8"}.zocial-guest:before{content:"?"}.zocial-html5:before{content:"5"}.zocial-ie:before{content:"6"}.zocial-instagram:before{content:"\00DC"}.zocial-instapaper:before{content:"I"}.zocial-intensedebate:before{content:"{"}.zocial-itunes:before{content:"i"}.zocial-klout:before{content:"K"}.zocial-lanyrd:before{content:"-"}.zocial-lastfm:before{content:"l"}.zocial-linkedin:before{content:"L"}.zocial-macstore:before{content:"^"}.zocial-meetup:before{content:"M"}.zocial-myspace:before{content:"_"}.zocial-ninetyninedesigns:before{content:"9"}.zocial-openid:before{content:"o"}.zocial-opentable:before{content:"\00C7"}.zocial-paypal:before{content:"$"}.zocial-pinboard:before{content:"n"}.zocial-pinterest:before{content:"1"}.zocial-plancast:before{content:"P"}.zocial-plurk:before{content:"j"}.zocial-pocket:before{content:"\00E7"}.zocial-podcast:before{content:"`"}.zocial-posterous:before{content:"~"}.zocial-print:before{content:"\00D1"}.zocial-quora:before{content:"q"}.zocial-reddit:before{content:">"}.zocial-rss:before{content:"R"}.zocial-scribd:before{content:"}"}.zocial-skype:before{content:"S"}.zocial-smashing:before{content:"*"}.zocial-songkick:before{content:"k"}.zocial-soundcloud:before{content:"s"}.zocial-spotify:before{content:"="}.zocial-statusnet:before{content:"\00E2"}.zocial-steam:before{content:"b"}.zocial-stripe:before{content:"\00A3"}.zocial-stumbleupon:before{content:"/"}.zocial-tumblr:before{content:"t"}.zocial-twitter:before{content:"T"}.zocial-viadeo:before{content:"H"}.zocial-vimeo:before{content:"V"}.zocial-vk:before{content:"N"}.zocial-weibo:before{content:"J"}.zocial-wikipedia:before{content:","}.zocial-windows:before{content:"W"}.zocial-wordpress:before{content:"w"}.zocial-xing:before{content:"X"}.zocial-yahoo:before{content:"Y"}.zocial-yelp:before{content:"y"}.zocial-youtube:before{content:"U"}


[class*=" zocial-"]:before,
[class^="zocial-"]:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'zocial', sans-serif;
}
[class*=" zocial-"],
[class^="zocial-"] {
  -webkit-font-smoothing: antialiased;
  font-family: 'zocial', sans-serif;
  display: inline-block;
  margin: 0 2px;
  font-size: 18px;
  line-height: 18px;
}



/* specific styles */

.icons-arrow-left,
.icons-arrow-right {
  @include opacity(50);
  @include transition(opacity 0.33s);
  
  &:hover {
    @include opacity(100);
  }
}

.bg-for-icon {
  background-color: $theme;
  display: inline-block;
  padding: 1px 6px 0;
  @include border-radius(2px);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  box-shadow: 0 1px darken($theme, 17%);
}

.icons-showcase {
  [class^="zocial-"],
  [class^="icon-"] {
    text-align: right;
    width: 32px;
    margin: 0 10px 10px 0;
    color: $titles;
    font-size: 18px;
  }
}
