<p><strong>Главный офис, Садовый центр</strong></p>
<p><strong></strong></p>
<p><strong></strong>Санкт-Петербург 197755, пос. Лисий Нос, Приморское шоссе, 120A</p>
<p>тел./факс (812) 434-83-62; тел. (812) 434-94-75</p>
<p><a title="Схема проезда" class="scheme" onclick="window.open(this.href,'','resizable=no,location=no,menubar=no,scrollbars=no,status=no,toolbar=no,fullscreen=no,dependent=no,width=650,height=550,left=100,top=100,status'); return false" href="/maps/map-01.htm">Схема проезда</a></p>
<p>&nbsp;</p>
<p><strong></strong></p>
<p><strong>Садовый центр</strong><br>
    </br> <br>
    </br><br>
    </br> <br>
    </br> Санкт-Петербург 194362, пос. Парголово, Выборгское шоссе, 379</p>
<p>тел./факс (812) 516-85-23; тел. (812) 516-88-94&nbsp;</p>
<p><a title="Схема проезда" onclick="window.open(this.href,'','resizable=no,location=no,menubar=no,scrollbars=no,status=no,toolbar=no,fullscreen=no,dependent=no,width=650,height=550,left=100,top=100,status'); return false" href="/maps/map-02.htm">Схема проезда</a></p>
<p>&nbsp;</p>
<p><b>Питомник, Садовый центр&nbsp;</b></p>
<p><b></b></p>
<p>Ленинское-Симагино</p>
<p>тел. (812) 676-38-16&nbsp;</p>
<p><a title="Схема проезда" onclick="window.open(this.href,'','resizable=no,location=no,menubar=no,scrollbars=no,status=no,toolbar=no,fullscreen=no,dependent=no,width=650,height=550,left=100,top=100,status'); return false" href="/maps/map-03.htm">Схема проезда</a></p>
<p>&nbsp;</p>
<p><strong></strong></p>
<p><strong><a href="mailto:dp@dinos-park.ru">dp@dinos-park.ru</a></strong></p>
<div id="scheme1" style="display: none;">&nbsp;</div>
<div id="scheme2" style="display: none;">&nbsp;</div>
<p>&nbsp;</p>


<p><strong>Главный офис, Садовый центр</strong></p>
<p>Санкт-Петербург 197755, пос. Лисий Нос, Приморское шоссе, 120A</p>
<p>тел./факс (812) 434-83-62; тел. (812) 434-94-75</p>

<p>&nbsp;</p>

<p><strong>Садовый центр</strong><br>
<p>Санкт-Петербург 194362, пос. Парголово, Выборгское шоссе, 379</p>
<p>тел./факс (812) 516-85-23; тел. (812) 516-88-94&nbsp;</p>

<p>&nbsp;</p>

<p><b>Питомник, Садовый центр&nbsp;</b></p>
<p>Ленинское-Симагино</p>
<p>тел. (812) 676-38-16&nbsp;</p>

<p>&nbsp;</p>

<p><strong><a href="mailto:dp@dinos-park.ru">dp@dinos-park.ru</a></strong></p>
