<!-- Shopping Cart -->


<div class="container">
    <div class="push-up top-equal blocks-spacer-last">
        <div class="row">
            <h1 style="margin-top: 30px;">{$item.name}</h1>
            {$item.content}


        </div>
    </div>
</div>
