<h2>{$settings.service|stripslashes|strip_tags}</h2>
<div class="text_block">
<div style='padding-left:0px; font-size:11px; color:#ffffff; line-height:16px;'><p>{$page_text|stripslashes}</p></div>
</div>