    </div>
    <div class="clearfix"></div>
</div>

<div class="footer">
    <div class="footer_content">
        <p class="copyright">
            Copyrihgt © 2013 “Mirzagorodom”
        </p>
        <div class="menufoot">
            {include file='bottomNavigation.tpl'}
        </div>
        <div class="clearfix"></div>

        <div class="contact">
            {$footer_text.text|stripslashes}
        </div>
    </div>
</div>


{literal}
{/literal}

</body>
</html>