<div class="product_menu">

    <nav>
        <ul id="ddmenu">

            <li><a href="#">Локальные очистные сооружения</a></li>

            <li><a href="#" class="active">Локальные очистные сооружения</a>
                <ul>
                    <li><a href="#">Хозяйственно-бытовая канализация</a></li>
                    <li><a href="#">Хозяйственно-бытовая канализация</a></li>
                    <li><a href="#">Хозяйственно-бытовая канализация</a></li>
                    <li><a href="#">Хозяйственно-бытовая канализация</a></li>
                    <li><a href="#">Хозяйственно-бытовая канализация</a></li>
                </ul>
            </li>

        </ul>
    </nav>

</div>

{*<div class="leftNavHeader">&nbsp;</div>*}
{*<div class="leftNavList">*}
    {*{foreach key=skey from=$left_navigation item=sec}*}
        {*<div class="menuItem {if $skey==$left_navigation_count-1}borderNone{/if}"><a href="/catalog/sec/{$sec.link}/page/1" {if $sec.link==$activeLeftSection}class="active"{/if}>{$sec.title|stripslashes|strip_tags}</a></div>*}
    {*{/foreach}*}
{*</div>*}

{*<div class="skidkiButton"><a href="/specials.html"><img src="/images/button-skidki.png" /></a></div>*}
{*<div class="questionBox2">*}
    {*<div class="questionButton">*}
        {*<a href="/feedback.html"><img src="/images/button-question2.png" /></a>*}
    {*</div>*}
{*</div>*}