{*<div style="border: 1px dashed #d3d3d3; padding: 10px 5px 5px 5px; margin:5px 14px 10px 18px;">*}
    {*<table>*}
        {*<tr>*}
            {*<td nowrap="nowrap"><b>Поделиться:</b>&nbsp;</td>*}
            {*<td nowrap="nowrap">*}

                {*<script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?9" charset="windows-1251"></script>*}
                {*<a onclick="window.open('http://vkontakte.ru/share.php?url={$currUrl}','storesecurity_share_link', 'width=600,height=400,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-200))" href="#vkontakte"><img src="/images/social/soc-2.png" alt="" title=""></a>*}

                {*<a onclick="window.open('http://www.facebook.com/sharer.php?u={$currUrl}','storesecurity_share_link', 'width=600,height=400,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-200))" href="#facebook"><img src="/images/social/soc-1.png" alt="" title="Мне нравится"></a>*}

                {*<a onclick="window.open('http://twitter.com/share?url={$currUrl};text={$product.addinfo|strip_tags|stripslashes}','storesecurity_share_link', 'width=600,height=400,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-200))" href="#twitter"><img src="/images/social/soc-3.png" alt="" title="Retweet"></a>*}

                {*<a onclick="window.open('http://www.odnoklassniki.ru/dk?st.cmd=addShare&amp;st._surl={$currUrl}','storesecurity_share_link', 'width=600,height=400,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-200))" href="#odnoklassniki">*}
                    {*<img src="/images/social/soc-5.png" alt="" title="">*}
                {*</a>*}

                {*<a onclick="window.open('http://connect.mail.ru/share?share_url={$currUrl}','storesecurity_share_link', 'width=600,height=400,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-200))" href="#myworld"><img src="/images/social/soc-6.png" alt="" title=""></a>*}
            {*</td>*}
        {*</tr>*}
    {*</table>*}
{*</div>*}

<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="vkontakte,twitter,lj"></div>


