<ul class="nav" id="mainNavigation">
    <li {if $menuActive=='index'}class="active"{/if}><a href="/">Главная</a></li>
    <li {if $menuActive=='catalog'}class="active"{/if}><a href="/catalog.html">Каталог</a></li>
    {*<li {if $menuActive=='about-us'}class="active"{/if}><a href="/about-us.html">О нас</a></li>*}
    <li {if $menuActive=='articles'}class="active"{/if}><a href="/articles/page/1">Статьи</a></li>
    <li {if $menuActive=='feedback'}class="active"{/if}><a href="/feedback.html">Контакты</a></li>

</ul>