<div class="link_box {if $menuActive=='about-company'}active{/if}" id="m1"><a href="/about-company.html">О компании</a></div>
<div class="link_box {if $menuActive=='partners'}active{/if}" id="m2"><a href="/partners.html">Наши партнеры</a></div>
<div class="link_box {if $menuActive=='how-do-order'}active{/if}" id="m3"><a href="/how-do-order.html">Как сделать заказ</a></div>
<div class="link_box {if $menuActive=='forum'}active{/if}" id="m4"><a href="/forum.html">Форум</a></div>
<div class="link_box {if $menuActive=='contacts'}active{/if}" id="m5"><a href="/contacts.html">Контакты</a></div>
<div class="link_box {if $menuActive=='articles'}active{/if}" id="m6"><a href="/articles.html">Статьи</a></div>