<h2>{$section.title|stripslashes|strip_tags}</h2>
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td width="100%">
		<div class="sec_cat_box">{$section.description|stripslashes}</div>
	</td>
</tr>
</table>
<br /><br /><br /><br /><br /><br /><br />