<div class="header_txt3">{$settings.order_completed_title|stripslashes|strip_tags}</div>
<div class="content_container">
<div class="content_block">
	<div class="content_title" style="text-decoration:none;">
	{$settings.order_completed_text|stripslashes|strip_tags}
		
	</div>
</div>
</div>