<div class="header_txt3">{$frontendLangParams.ORDER_PROCCESS_COMPLETED}</div>
<div class="content_container">
<div class="content_block">
		<div class="content_title" style="text-decoration:none;">
			{$frontendLangParams.ORDER_SUCCESS}
		</div>
</div>
</div>
{literal}
<script type="text/javascript">
	setTimeout(function () { document.location.href='/myaccount.html'; }, 5000);
</script>
{/literal}