#slides .slides_container {
	width:964px;
	overflow:hidden;
	position:relative;
	display:none;
}

#slides .pagination{
    display: none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides .slides_container div.slide {
	width:964px;
	height:375px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next{
	width:32px;
    height:375px;
	display:block;
	z-index:6;
    outline: none;
    position: relative;
    margin-top: -375px;
}

#slides .next {
    left:933px;
}

#slides .prev {
    left:-1px;
    width:32px;
    height:375px;
    display:block;
    z-index:6;
    position: relative;
    margin-top: -376px;
}





/*
	Caption
*/

#slides .caption {
    font-family: tahoma;
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:60px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:734px;
	font-size:1.2em;
	line-height:1.22;
	color:#fff;
	border-top:0px solid #000;
	text-shadow:none;
}

/**********************************************************************/
/*********************** SECOND SLIDER ********************************/
/**********************************************************************/
/*#slidesSecond {*/
    /*position: absolute;*/
/*}*/
#slidesSecond .slides_container {
    width:276px;
    height: 58px;
    overflow:hidden;
    position:relative;
    display:block;
    /*border: 1px solid #000;*/
    margin-left: 22px;
    padding-left: 0px;
    margin-top: 5px;
}

#slidesSecond .slider_container div.slide {
    width:77px;
    height:58px;
    display:block;
}

#slidesSecond .item {
    float:left;
    width:77px;
    height:58px;
    margin:0px 5px 0px 5px;
    /*background:#efefef;*/
    /*box-shadow: 0px 0px 10px rgba(0,0,0,0.8);*/
}

#slidesSecond .item img{
    width:77px;
    height:58px;
    /*border: 1px solid #ecedef;*/
}

#slidesSecond .item .caption {
    width:218px;
    height:75px;
    padding:7px 7px 7px 7px;
    background:#000;
    background:rgba(0,0,0,.4);
    top:98px;
    position: relative;
}

#slidesSecond .item .caption a{
    font-family: tahoma;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
    letter-spacing: 1px;
}

#slidesSecond .prev {
    position:absolute;
    width:15px;
    height:58px;
    display:block;
    z-index:101;
    outline: none;
    margin-top: -58px;
}

#slidesSecond .next{
    position:absolute;
    width:15px;
    height:58px;
    display:block;
    z-index:101;
    outline: none;
    margin-top: -58px;
    margin-left: 290px;
}