       <!-- Menu Dashboard	-->
	   	<div class="dashboard_menu">
			<div><a href="area/profile" title="My Profile"><strong>My Profile</strong></a><a href="area/bookmarks" title="Bookmarks">Bookmarks</a><a href="area/videos" title="Videos">Videos</a><a href="area/listings" title="Listings">Listings</a><a href="area/messagecenter" title="Message Center">Message Center</a><a href="area/invitefriends" title="Invite Friends">Invite Friends</a></div>
</div>
	   <!-- End Menu Dashboard	-->
       