<p class="push-down-10">
    <label for="author">Условия:</label>
    <textarea tabindex="4" id="description_short" name="conditions" rows="15" class="span6 m-wrap ckeditor" placeholder="Введите короткое описание здесь...">{$item.conditions|stripslashes}</textarea>
</p>