<p class="push-down-10">
    <label for="author">Требование к хостингу:</label>
    <textarea tabindex="4" id="description_short" name="hosting_requirements" rows="15" class="span6 m-wrap ckeditor" placeholder="Введите короткое описание здесь...">{$item.hosting_requirements|stripslashes}</textarea>
</p>