<table border="0" style="width:100%; border: solid 1px #b2b2b2; margin: 4px 4px 4px 4px;"> 
<tr>
	<td align="center" class="innerformtemp" style="height:300px;" align="left">
		<img id="show_id" {if $images[0]!=""} src="/images/portfolios/{$portfolio_id}/{$images[0]}_admin"   {else} src="/images/default.gif" {/if} >					
	</td>
</tr>
</table>