            <table cellpadding="0" cellspacing="0" class="table">
                    <tr>
                      <td class="border_reg">                        
                        <div class="featured_video_reg" style="height:260px">
							<div class="featured_videos_title">Password Change</div>
						    <div class="reg_login"><strong>Password have changed successfuly. </strong><br>
						    </div>
                            <div class="reg_form" style="width:300px;">
                              <form action="/login" method="post" enctype="multipart/form-data">
                                <table cellpadding="0" cellspacing="0" style="width:100%; margin:0 auto;">
                                  <tr>
                                    <td colspan="2" nowrap="nowrap" class="featured_videos_title" style="width:105px; border:1px solid #fff;"><strong>Login</strong></td>
                                  </tr>
                                  <tr>
                                    <td width="107" nowrap="nowrap" class="vert"><span class="vert" style="width:105px; border:1px solid #fff;">Username </span></td>
                                    <td width="266"><span style="width:40%">
                                      <input name="username" type="text" class="reg_input2" id="username" onfocus="ifan(this);" onblur="ifon(this);"/>
                                    </span></td>
                                  </tr>
                                  <tr>
                                    <td nowrap="nowrap" class="vert">Password</td>
                                    <td><span style="width:40%">
                                      <input name="password" type="password" class="reg_input2" id="password" onfocus="ifan(this);" onblur="ifon(this);"/>
                                    </span></td>
                                  </tr>
                                  <tr>
                                    <td class="vert">&nbsp;</td>
                                    <td style="padding-left:7px;"><input class="btn" type="submit" name="login" id="login" value="Login" /></td>
                                  </tr>
                                </table>
                              </form>
                            </div>
                        </div></td>
  </tr>
            </table>