            <table cellpadding="0" cellspacing="0" class="table">
                    <tr>
                      <td class="border_reg">                        
                        <div class="featured_video_reg" style="height:260px">
							<div class="featured_videos_title">Password Change Error!</div>
						    <div class="reg_login"><strong>Something wrong. </strong><br>
					        Unable to change password.</div>
                        </div></td>
  </tr>
            </table>