<input type="hidden" name="usertypeval" value="1">
<table width="240" border="0" cellspacing="0" cellpadding="6" class="table">
		<tr>
				<td colspan="2" class="td_left"><strong>Customer Login</strong></td>
		</tr>
		<tr>
				<td width="74" class="td_right">E-Mail:</td>
				<td width="132" class="td_left"><input name="email" id="email" type="text" class="inp1" /></td>
		</tr>
		<tr>
				<td class="td_right">Password:</td>
				<td class="td_left"><input name="password" id="password" type="password" class="inp1" /></td>
		</tr>
		<tr>
				<td class="td_right"><input type="image" src="/images/btn_login.jpg" /></td>
				<td class="td_left">
					<a href="/registration.html" title="">
						<img src="/images/btn_account.jpg" alt="" title="" />
					</a>
				</td>
		</tr>
</table>