<form action="/logout.html" class="form" method="post">
<table cellpadding="1" cellspacing="1" border="0" width="70%">
<tr>
	<td align="center"><span style="font-weight:bold;">{$_Email.title}:</span>{$memberEmailLogined}</td>
</tr>
<tr>
	<td align="center"><input type="submit" value="{$_SignOut.title}"></td>
</tr>
</table>
</form>