<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>Click on the link below to change your password.<br>
  <a href="http://{$host}/login/changePassword/vkey/{$vkey}">Password Change</a></p>
<strong>- The Swap a Debt  Team</strong>
</body>
</html>
