<div class="news-short-area">
	<table height="235" width="100%" align="center">
	<tr>
		<td valign="top" align="center">
			<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="top">
					<span>
						{$_PasswordRecoveryCompletedText.long_description}
						<br /><br />
					</span>
				</td>
			</tr>
			<tr>
				<td align="right" colspan="2"><span style="color:#4B4B4B; font-family:arial, verdana; font-size:12px;"><a href="/" class="tags" style="text-decoration:underline;">{$_Home.title}</a></span></td>
			</tr>
			</table>
		</td>
	</tr>
	</table>
</div>