<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>Hi <strong>{$username}</strong>,<br>
  Password has been changed.<br>
  Your login details are as follows:<br>
  Username:{$username}<br>
Password: {$password}</p>
- The lawschoollink.com  Team
</body>
</html>
