<div class="header_txt3">{$frontendLangParams.ORDER_PAYMENT_HEADER}</div>
<div class="content_container">
<div class="content_block">
		<div class="content_title" style="text-decoration:none;">
			{$frontendLangParams.ORDER_FAIL}
		</div>
</div>
</div>