<table align="center" width="100%" class="cont2" cellpadding="0" cellspacing="0">
<tr>
	<td width="100%" align="left">
		<table width="100%" height="235" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td valign="top" align="left">
				<h4>
					You account at FocusPDM.com was successfully created and activated<br />Thank you
				</h4>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>