       <!-- Menu -->
        <div>
        	<a href="/area/profile" title="Profile" class="tab">Profile</a>                     
            <a href="#" title="Schools&Careers" class="tab">Link</a>                     
            <a href="#" title="Photos" class="tab">Link</a>                       
            <a href="#" title="High School Info" class="tab" style="margin-left:1px;">Link</a>                 
            <a href="#" title="College Info" class="tab" style="margin-left:1px;">Link</a>                 
            <a href="#" title="Post College Info" class="tab" style="margin:0 0 0 1px;">Link</a>
            <div class="clear"></div>
        </div>       
	   <!-- End Menu -->
       